.header {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 992px) {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
  }
}

.headerContainer {
  height: 100%;
}

.headerRow {
  height: 100%;
}

.headerLeft {
  line-height: 92px;
}

.navbarList {
  display: inline;
}

.topMenu {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbarItem {
  display: block;
  float: left;
  padding: 0 10px;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
.headerRight {
  padding-right: 0px;
}

.floatR {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.search,
.language,
.getInTouch {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.search {
  background-color: #f2f2f2;
  display: flex;
}

.language {
  background-color: #e4e4e4;
}

.getInTouch {
  background-color: #8cc63f;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.logo {
  width: 200px;
  height: 75px;
}
